header{
	border: 5px solid;
	border-color:grey;
	margin:20px 0 0;
	padding:10px;
	box-shadow: 10px 10px 15px silver;
	background: #C8F5F0;
	border-radius:18px;
}
h1{
	text-align:center;
	color: grey;
	font-family: helvetica;
	font-size: 22pt;
	text-align:center;
}

h2{
	text-align:center;
	font-family:calibri;
	text-align:center;
}

h3{
	font-family:calibri;
	font-size: 12pt;
}

h4,h5{
	font-size: 12pt;
	font-family:calibri;
}

div.github{
	text-align: right;
}

img.gh{
	width: 150px;
	border: 3px solid;
	border-color: black;
	background-color: #E6E6E6;
}

section{
	border: 5px solid;
	border-color:grey;
	margin:20px 0 0 0;
	padding:10px;
	box-shadow: 10px 10px 15px silver;
	background:white;
	border-radius:18px;
}

footer{
	clear:both;
	border: 5px solid;
	border-color:grey;
	margin:20px 0 0 0;
	padding:10px;
	box-shadow: 10px 10px 15px silver;
	background:#C8F5F0;
	border-radius:18px;
	
}

.Uberschrift{
	font-size: 20px;
	font-weight: bold;
	
}
.Unteruberschrift{
	font-size: 18px;
	text-decoration:underline;
	font-weight: normal;
}
body{
	font-family: Lucida Grande;
	font-size: 18px;
}
